* {
    margin: 0;
    font-family: 'Times New Roman';
    font-size: 12px;
}

body {
    width: 100vw;
    height: 100vh;
    transition: opacity 1s;
    opacity: 0;
}

#nav {
    position: fixed;
    z-index: 2;
    /* width: 220px; */
    top: 50px;
    margin-left: 8px;
    /* background-color: lime; */
}

#nav p:first-of-type {
    font-style: italic;
}

#nav a {
    display: block;
    text-decoration: none;
}

#nav a:visited {
    color: black;
}

#works {
    width: 100%;
}

.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 750px;
    /* background-color: lime;
    border: 2px solid black; */
}

.work img {
    display: block;
    max-width: 400px;
    max-height: 450px;
    transition: opacity 0.3s;
    cursor: pointer;
}

.workText {
    position: absolute;
    bottom: 50px;
    text-align: center;
}

.workText:first-of-type {
    bottom: -10px;
}

.workText p {
    font-style: italic;
    font-size: 10px;
}

#infoButton {
    cursor: pointer;
    width: 20px;
}

#info {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: white;
}

#info p {
    text-align: center;
    width: 35%;
}

#infoTitle {
    font-style: italic;
    margin-top: -100px;
}

#yuk a {
    text-decoration: none;
    font-style: italic;
}

a {
    color: black;
}

a:active {
    color: black;
}

a:visited {
    color: black;
}

@media screen and (max-width: 410px) {

    .work img {
        max-width: 90%;
    }

    #info p {
        width: 75%;
    }

    #infoTitle {
        margin-top: 100px;
    }

}
