* {
    margin: 0;
    font-family: 'Times New Roman';
    font-size: 12px;
}

body {
    width: 100vw;
    height: 100vh;
    transition: opacity 1s;
    /* opacity: 0; */
}

#title {
    opacity: 1;
}

#nav {
    position: fixed;
    z-index: 2;
    /* width: 220px; */
    top: 50px;
    margin-left: 8px;
    /* background-color: lime; */
}

#nav p:first-of-type {
    font-style: italic;
}

#nav a {
    display: block;
    text-decoration: none;
}

#nav a:visited {
    color: black;
}


#contactWrap {
    opacity: 0;
    transition: opacity 0.5s linear;
}

#works {
    width: 100%;
    margin-top: 50px;
    opacity: 0;
    transition: opacity 0.5s linear;
}

.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 20vmin;
}

.work:last-of-type {
    margin-bottom: 50px;
}

.workImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vmin;
    overflow: hidden;
    transition: opacity 0.3s;
}

.workImg img {
    height: 100%;
    cursor: pointer;
}

.workText {
    /* position: absolute; */
    max-width: 300px;
    margin-top: 35px;
    font-style: italic;
    text-align: center;
}

.workText:first-of-type {
    bottom: -10px;
}

.workText p {
    font-style: italic;
    font-size: 10px;
    margin-top: 15px;
}

#infoButton {
    cursor: pointer;
    width: 20px;
}

#info {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: white;
}

#info p {
    text-align: center;
    /* width: 35%; */
}

#infoTitle {
    font-style: italic;
    /* margin-top: -100px; */
}

#infoText {
    width: 380px;
    margin-bottom: 40px;
}

#exhibitionsWrap {
    margin-bottom: 40px;
}

#yuk a {
    text-decoration: none;
    font-style: italic;
}

a {
    color: black;
}

a:active {
    color: black;
}

a:visited {
    color: black;
}

@media screen and (max-width: 410px) {

    /* .work img {
        max-width: 90%;
    } */

    /* #info p {
        width: 75%;
    }

    #infoTitle {
        margin-top: 100px;
    } */

}

@media (hover: none) and (pointer: coarse) {

    #nav {
        position: absolute;
        margin-left: 5%;
    }

    #works {
        margin-top: 200px;
        margin-bottom: 200px;
    }

    #info {
        z-index: 5;
    }

    #infoText {
        width: 90%;
    }

    .workText:last-of-type {
        padding-bottom: 50px;
    }

    .workImg {
        height: 60vh;
    }

    .workImg img {
        height: auto;
        width: 90%;
    }

}
